config/*

!config/recyclarr
config/recyclarr/*
!config/recyclarr/recyclarr.yml

!config/cross-seed
config/cross-seed/*
!config/cross-seed/config.js

!config/qbit_manage
config/qbit_manage/*
!config/qbit_manage/config.yml

!config/autobrr
config/autobrr/*
!config/autobrr/config.toml
!config/autobrr/definitions
!config/autobrr/definitions/*

!config/omegabrr
config/omegabrr/*
!config/omegabrr/config.yaml

!config/homepage
config/homepage/logs

!config/glances

.env
