config/*

!config/recyclarr
config/recyclarr/*
!config/recyclarr/recyclarr.yml

!config/cross-seed
config/cross-seed/*
!config/cross-seed/config.js

!config/qbit_manage
config/qbit_manage/*
!config/qbit_manage/config.yml

