/* .\!block {
    margin-bottom: 0.5rem;
} */


/* Uncomment the bellow block to put the bookmarks on the side */
/* #inner_wrapper > div {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "header header"
        "main sidebar"
}

#information-widgets {
   grid-area: header;
}

#layout-groups {
    grid-area: main;
    margin: 0.2rem;
    padding: 0.2rem;
}

#bookmarks {
    grid-area: sidebar;
    margin: 0.2rem;
    padding: 0.2rem;
}

.bookmark > a {
    margin: .2rem;
} */
/* end of side bookmarks hack */

/* 
there's a reload icon that can't be hidden
https://github.com/gethomepage/homepage/discussions/1732
*/
body {
    #footer {
        display: none;
    }
}

/* hide bookmarks */
#bookmarks {
    display: none;
}